@using System.Activities.Expressions;

@using ViewModels;
@model User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions opt = new AjaxOptions()
    {
        HttpMethod = "Post",
        Url = Url.Action("Register", "Home"),
        //UpdateTargetId = "error",

    };
    var list = new SelectList(new[]
        {
        new {ID="1", Name="Male"},
        new {ID="2", Name="Female"}
    },
        "Name", "Name", 1);
}

<h2>Register Form</h2>
<br />
<div class="container">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {

        <div id="error">@Html.ValidationSummary(true)</div>

        @*<div class="col-sm-8">*@
        <div class="form-group">
            <div class="col-sm-2">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
            </div>
            <div class="col-sm-10 input-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "alert" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 ">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            </div>
            <div class="col-md-10 input-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "alert" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 ">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            </div>
            <div class="col-md-10 input-group">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "alert" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 ">
                @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
            </div>
            <div class="col-md-10 input-group">
                @Html.DropDownListFor(m => m.Gender, list, "Select Gender", new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "alert" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 ">
                <label class="control-label">Interest</label>
            </div>
            <div class="col-md-10 input-group">
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsInterestedInCSharp)
                    CSharp
                </label>
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsInterestedInJava)
                    Java
                </label>
                <label class="control-label">
                    @Html.CheckBoxFor(m => m.IsInterestedInPython)
                    Python
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 ">
                @Html.LabelFor(m => m.CityId, new { @class = "control-label" })
            </div>
            <div class="col-md-10 input-group">
                @Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.cities, "CityId", "CityName"), "Select City", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CityId, "", new { @class = "alert" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 ">
                <label class="control-label">DOB</label>
            </div>
            <div class="col-md-10 input-group">
                @Html.TextBoxFor(m => m.DOB, new {  @class = "form-control",placeholder= "(mm/dd/yyyy)" })
                @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "alert" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
        @*</div>*@

    }
</div>

@section MyAjax
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function success() {
            $('#error').text = "success";
        }
        function failure() {
            $('#error').text = "failure";
        }
    </script>
}