@model IEnumerable<ViewModels.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Users</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>Interest</th>
        <th>
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
        @if (item.IsInterestedInCSharp)
        {
            <p>CSharp</p>
        }
        @if (item.IsInterestedInJava)
        {
            <p>Java</p>
        }
        @if (item.IsInterestedInPython)
        {
            <p>Python</p>
        }
    </td>
    
        @foreach (var y in ViewBag.cities)
        {
            if (item.CityId == y.CityId)
            {
            <td>@y.CityName</td>
        }

    }
        

        <td>@item.DOB.Day-@item.DOB.Month-@item.DOB.Year</td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
